.btn {
  font-weight: 500;
  border: none;
  padding: 2%;
}

.btnForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.btnForgetPwd:hover {
  text-decoration:none;
  color:#fff;
}

.row {
  justify-content: center;
}