<div class="card">
  <div class="row">
    <div class="col-6">
      <input type="text" (keyup)="onNameChanged($event.target)" 
      [value]="playerName" 
      [disabled]="!playersLimit"
      [placeholder]="name"
      ([ngModel])="playerName">
    </div>
    <div class="col-3">
      <button [ngClass]="playerName === '' ? 'btn button ml-4' : 'btn btn-success ml-4'" 
        (click)="onAddClicked()"
        [disabled]="playerName==='' || completed">{{'añadir' | titlecase}}
      </button>
    </div>
  </div>
</div>
